<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799088132023-eh6g8cf5qb6aq7vc6j8iv9q3a6m75oq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799088132023-eh6g8cf5qb6aq7vc6j8iv9q3a6m75oq0</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Wrc61ZFcxo8GEGqaqQp91z1rXaK2deo</string>
	<key>GCM_SENDER_ID</key>
	<string>799088132023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uevents.dev.uevents</string>
	<key>PROJECT_ID</key>
	<string>uevents-a9365</string>
	<key>STORAGE_BUCKET</key>
	<string>uevents-a9365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799088132023:ios:09a893660458edc0cd7232</string>
</dict>
</plist>